<div class="jumbotron">
  <h1 class="display-4">Eat-Da-Burger!</h1>
  <hr class="my-4">
  <p>Enter a burger you want to eat, then click the "Submit" button.</p>
</div>

{{!-- <ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<ul>
  {{#each devoured}}
    {{#if sleepy}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul> --}}



<div class="container">
  <div class="row">
    <div class="col-sm-4">
      One of three columns
    </div>
    <div class="col-sm-4">
      <form id="orderBurger" class="button-size">
	      <textarea type="text" name="burgerType"></textarea>
	      <button type="submit" id="newBurger">Submit</button>

        <div>
          {{!-- <input type="radio" name="eat" value="1">
          <input type="radio" name="eat" value="0">  --}}
          <button type="submit" id="eatBurger">Devour!</button>
        </div>

      </form>
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div>
</div>



{{!-- AJAX --}}
<script type="text/javascript">

{{!-- Button for ordering burger --}}
  $("#newBurger").on("submit", function(event) {
    event.preventDefault();

    var createNewBurger = {
      burger_name: $("#orderBurger").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: createNewBurger
    }).then(
      function() {
        console.log("added new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

{{!-- Button to eat burger --}}
  $("#eatBurger").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var id = $("[name=id]").val().trim();

    var updateList = {
      movie: $("#eatBurger").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: updateList
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });
</script>
