<div class="jumbotron">
  <h1 class="display-4">Eat-Da-Burger!</h1>
  <hr class="my-4">
  <p>Enter a burger you want to eat, then click the "Submit" button.</p>
</div>


  



  {{!-- {{#each devoured}}
    {{#if sleepy}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}} --}}




<div class="container">
  <div class="row">
    <div class="col-sm-4">
     {{#each burgers}}
    {{#unless devoured}}
      <div>
        <h3>{{id}}.{{burger_name}}</h3>
        <form>
          <input type="hidden" class="burger_id" type="text" value={{this.id}}> 
          <button id="eatBurger">Devour!</button>
        </form>
        
      </div>
    {{/unless}}
  {{/each}}
    </div>
    <div class="col-sm-4">
      <form action="/api/burgers" method="POST" id="orderBurger" class="button-size">
	      <input type="text" name="burger_name" val="" id="enter_text"></input>
	      <button type="submit" id="newBurger">Submit</button>
      </form>
    </div>
    <div class="col-sm-4">
      One of three columns
    </div>
  </div>
</div>



{{!-- AJAX --}}
<script type="text/javascript">

{{!-- Button to eat burger --}}
  $("#eatBurger").on("click", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
    console.log($(this));
    {{!-- var id = $("id").val().trim(); --}}


   {{!-- var updateList = {
      movie: $("#eatBurger").val().trim()
    };

    // Send the PUT request.
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
      data: updateList
    }).then(
      function() {
        console.log("updated id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    ); --}}
  });
</script>
